*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

.container{
    padding: 50px;
}

.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__name{
    font-size: 60px;
}

.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}

.section-one,.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}

.section-one__desc{
    margin-top: 10px;
}

.section-two__desc,.section-three__desc,.section-four__desc{
    margin-top: 20px;
}

.section-five__social,.section-five__copyright{
    margin-top: 10px;
}

.section-five__contact{
    margin-top: 20px;
}

.section-five{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-five__title a{
    color: skyblue;
    font-size: medium;
}
.section-five__homepage{
    margin-top: 20px;
    font-size: smaller;
    color: antiquewhite;
}


.section-three li,.section-four li{
    list-style: none;
}

.section-three{
    background-color: #6462FD;
    color: black;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}

.section-four{
    background-color: #FE7517;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}

.contact-form{
    margin-top: 20px;
}

.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}

.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid 1px;
}

.contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid 1px black;
}

.contact-form__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orangered;
    color: black;
    border: none;
    cursor: pointer;
}